node_modules/
dist/
.node-version
.firebaserc
.DS_Store
npm-debug.log
lerna-debug.log
.env
env.json
credential.json
firebase-debug.log
firebase.dev.config.json
youtube.config.json
packages/domain/lib/
